
@model MostOrderedProductsModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Channel Engine API Demo</h1>
    <br />
    <br />
    <h2>Top 5 Products</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col">GTIN</th>
                <th scope="col">Total Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model.Products)
            {
            <tr>
                <th scope="row">@product.Description</th>
                <td>@product.Gtin</td>
                <td>@product.TotalQuantity</td>
                <td><input class="btn btn-primary btn-sm" type="button" value="Reset Stock" onclick="location.href='@Url.Action("ResetStock", "Product")'" /></td>
            </tr>
            }

        </tbody>

    </table>


</div>
